body{
 background-image: url(/Archivos/bg.png);  

}
.er{
background-image: url(/Archivos/404.jpeg);
background-repeat: no-repeat;
background-position: center;





}


.head{

    background: rgb(69,180,58);
    background: linear-gradient(90deg, rgba(69,180,58,1) 0%, rgba(253,228,29,1) 82%, rgba(252,176,69,1) 100%);
    margin:0 auto;
	width: 100%; 
    font-size: 40px;   
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: auto;
}
.titulo{
    display: flex;
    font-size: 60px;
    color:rgb(221, 160, 250);
    -webkit-text-stroke: 2px rgb(87, 85, 85);
    
}
.c1{
    background-color: #85f1a95b;
	border: 5px solid rgb(112, 243, 129);
    border-radius: 5px;
	box-sizing: border-box;
	clear: both;
	margin:0 auto;
	width: 70%; 
    font-size: 40px;   
}
.p1{

    font-size: 27px;
}
.ca1{
    width: 30%;
    margin: auto;
    display: block;
    border-radius: 20px;
    
}
.c2{
    background-color: #c4f7675b;
	border: 5px solid rgb(215, 243, 112);
    border-radius: 5px;
	box-sizing: border-box;
	clear: both;
	margin:0 auto;
	width: 70%; 
    font-size: 40px;   
}
.p2{

    font-size: 27px;
}
.red{
    width: 20%;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.e1{
    background-color: #e885f15b;
	border: 5px solid rgb(213, 0, 241);
    border-radius: 5px;
	box-sizing: border-box;
	clear: both;
	margin:0 auto;
	width: 70%; 
    font-size: 40px;   
}
img{
    width: 40%;
    margin: auto;
    display: block;
    border-radius: 20px;
    
}
.home{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(142, 240, 104);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.home:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .home:active {
    transform: translateY(-1px);
  }
  .error{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(142, 240, 104);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.error:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.error:active {
    transform: translateY(-1px);
  }